/* Prevent problems on different browsers */
* {box-sizing: border-box;}



body { 
        font-family: "Oxygen", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0;
        font-size: 16px;
}

/* Header stuff here. */

header {
    font-family: "Delius Unicase", cursive;
    background-color: #435506;
    padding: 1rem 2vw;
}

header span {
    color: #ffc9e2;
    font-size: 1.6rem;
    font-weight: 700;
}

header h1{
margin: 0;
color: #ffc9e2;
}

header p{
    font-family: "Oxygen", sans-serif;
    margin: 0;
    color: #FF9900;
    letter-spacing: .5px;
}

/* small screen navigation */
@media only screen and (max-width: 800px) {
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav a {
        display: block;
        text-align: center;
        padding: .8rem;
        color: #a3b95c;
        text-decoration: none;
        border-bottom: solid 1px #eee;
        font-weight: 700;
        text-transform: uppercase;
    }
    nav a.active {
        background-color: #a3b95c;
        color: #ffc9e2;
        background-image: linear-gradient(to bottom, #c4015c, #990047 );

    }


} /* end small screens */


/* LARGE SCREEN NAVIGATION */
@media only screen and (min-width: 801px) {
    nav {
        font-family: "Delius Unicase", cursive;
        background-color: #990047;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0 2vw;
        margin: 0;
        display: flex; 
    }
    
    nav a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #a3b95c;
        font-weight: 700;
        display: block;
        padding: .83rem 2rem;
    }
    
    nav li.active a {
     background-color: #990047;
     color: #a3b95c;
    }
    
    nav a:hover {
        color: white;
    }
    
    nav a.active {
        font-weight: bold;
        text-decoration: underline;
        color: #ffc9e2;
    }


    
} /* end LARGE screens */


/* Main Section here. */

main {
    padding: 1rem 2vw;
}

main::after {
    content: "";
    display: block;
    clear: both;
}

main h1{
    color: #677f19;
}

main h2 {
    font-family: "Delius Unicase", cursive;
    color: #FF9900;
    margin-bottom: .2rem;
}

main p {
    color: #332f31;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #ffc9e2;
}

main dl dt {
    color: #990047;
    font-weight: 700;
}

main dl dd {
    color: #332f31;
    font-size: .9rem;
}

main ul {
    list-style-type: lower-roman;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
    background-color: #ffc9e2;
    padding: .5rem;
    width: 12.5rem;
    border: 5px solid black;
    border-color: black;
    border-radius: .8rem;
}

main a {
    color:#435506;
}

main a:hover {
    color: rgb (239,0,24);
}

.hero {
    width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
} 
.gallery section {
    flex-basis: 50%;
    margin: 1rem 0;
    
}
.gallery span {
    display: block;
    text-align: center; 
    font-weight: 700;
    color: #895772;
}
.gallery img {
    width: 98%;
    height: auto;
    border-radius: 5px;
}

.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* main image stuff here*/
figure.wrapped {
    margin: 0 0 0 10px;
    width: 40%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;

}

figure.wrapped figcaption {
    text-align: left;
    font-size: .75rem;
}
/* gallery stuff here */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}
div.gallery figure {
    margin: 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color:#376259;
}

/* Footer Section here. */

footer {
    border-top: solid #eaeaea 2px;
    background-color: #eaeaea;
    text-align: center;
    color: #435506;
    font-size: .8rem;
    padding: 1rem 0;
}

footer a {
    color: #435506;
}
header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}
